header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 150px;
        background-color: #6e29bd;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;
        left: 0;
        align-items: center;
        flex-direction: column;
    }

    .button-container {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #6e29bd;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        left: 0;
    }
    .home, .services, .contact {
        width: 100px;
        height: 30px;
        background-color:transparent;
        color: rgb(255, 255, 255);
        border: transparent;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
    }
    .middle {
        height: 1000px;
        width: 70%;
        margin-left: 265px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
    }
    

    body {
        background-color: lightgray;
    }